<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			{{!-- Image --}}
			<img class="img-responsive" src="data:image/jpeg;base64,{{{object.pic}}}" style=" margin-left:auto;margin-right:auto">
		</div>
		<div class="col-lg-6">
			<table class= "table .table-responsive table-bordered">
				<tbody>
					<tr>
						<th scope="row">Title</th>
						<td>{{{object.title}}}</td>
					</tr>
					<tr>
						<th scope="row">Medium</th>
						<td>{{{object.medium}}}</td>
					</tr>
					<tr>
						<th scope="row">Photographer</th>
						<td>{{{object.photographer}}}</td>
					</tr>
					<tr>
						<th scope="row">Format</th>
						<td>{{{object.format}}}</td>
					</tr>
					<tr>
						<th scope="row">Date</th>
						<td>{{{object.date}}}</td>
					</tr>

					<tr>
						<th scope="row">Identifier</th>
						<td>{{{object.identifier}}}</td>
					</tr>

					<tr>
						<th scope="row">Original Identifier</th>
						<td>{{{object.originalIdentifier}}}</td>
					</tr>

					<tr>
						<th scope="row">Department</th>
						<td>{{{object.department}}}</td>
					</tr>

					<tr>
						<th scope="row">Collection</th>
						<td>{{{object.collectionType}}}</td>
					</tr>

					<tr>
						<th scope="row">Repository</th>
						<td>{{{object.repository}}}</td>
					</tr>

				</tbody>
			</table>

			<table class="table .table-responsive table-bordered">
			{{#if object.onDisplay}}
			hihi
			{{/if}}



			</table>


			{{!-- identifier: {type: String, default: ''},
  title: {type: String, default: ''},
  format: {type: String, default: ''},
  publisher: {type: String, default: ''},
  photographer: {type: String, default: ''},
  repository: {type: String, default: ''},
  //specific to AMNH
  department: {type: String, default: ''},
  medium: {type: String, default: ''},
  date: {type: String, default: ''},
  coverage: [String],
  subject: {type: String, default: ''},
  collectiontype: {type: String, default: ''},
  pic: {type: String, default: ''}, --}}






			

		</div>


	<div class="row">
		

		{{!-- Information --}}
		<div class="col-lg-4">
			
			

		</div>
		{{!-- Further Information --}}
		<div class="col-lg-4">
			<h3>Further Information</h3>

			{{!-- {{#each object.furtherArtLinks}}
				<a href='{{this}}'>hi{{this}}</a><BR>
			{{/each }} --}}

			{{#if object.furtherArticles}}
			<h4>Articles</h4>
				{{#each object.furtherArticles}}
					<div>{{this.article}}<a href='{{this.link}}'>{{this.link}}</a>
					</div>
				{{/each }}
			{{/if}}

				{{#if object.furtherLinks}}
				<h4>Related Videos</h4><BR>
				{{#each object.furtherLinks}}
					<div class="embed-responsive embed-responsive-16by9">
				  		<iframe class="embed-responsive-item" src="{{this}}" frameborder="0" allowfullscreen></iframe>
					</div><BR>

				{{/each }}
			{{/if}}

			<BR>
		</div>
	</div>

	<div class="row">
		

	</div>


	</div>

	

</div>